<!DOCTYPE html>
<html>
  {% block head %}
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/simple-modal.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
  </head>
  {% endblock %}
  {% block body %}
  <body>
    <div class="bg">
      <div class="w3-display-middle">
        {% block centeredcontent %}{% endblock %}
      </div>
    </div>
  </body>
  {% endblock %}
</html>
