<!DOCTYPE html>
<html>

  {% block head %}
  <head>
    <meta charset="utf-8"/>
    <title>AMorente - {% block title %}Home{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="../static/css/materialize.min.css"/>
    <link rel="icon" type="image/png" href="static/images/dark-icon.png" />
  </head>
  {% endblock %}

  <body>

    <div class="container row lime lighten-4">

      {% block header %}

        <!-- navigation bar -->
        {% block navbar %}
        <nav>
          <div class="nav-wrapper">
            <!-- logo, title & form -->
            <div class="row">
              <div class="col s4">
              </div>
              <div class="col s4">
                <p>{% block content_title %}Restaurantes DAI{% endblock %}</p>
                <p>{% block content_subtitle %}Colección de restaurantes de ejemplo{% endblock %}</p>
              </div>
              <div class="col s4">
                {% if not loggedIn %}
                <form action="/" method="post">
                  <p>Usuario: <input type="text" name="username" /></p>
                  <p>Contraseña: <input type="password" name="password" /></p>
                  <p><input type="submit" value="Iniciar sesión" />
                  <button><a href="/register">Registrarse</a></button></p>
                </form>
                {% else %}
                  <div>
                    <p>Bienvenido, {{ session['username'] }}</p>
                    <p><a href="/logout">Log out</a></p>
                  </div>
                {% endif %}
              </div>
            </div>

            <!-- navbar -->
            <div class="row">
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                {% block links %}
                  <li><a href="/home">Inicio</a></li>
                  <li><a href="/home">Inicio</a></li>
                  <li><a href="/contact">Contact</a></li>
                {% endblock %}
              </ul>
            </div>
          </div>
        </nav>
        {% endblock %}

      {% endblock %}










      <!-- main content of the page -->
      {% block content %}
      <div class="container row">
        <h1>{% block content_section_title %}Home page{% endblock %}</h1>
        {% block centeredfield %}
        <div class="w3-center">
          <a href="{% block content_image_link %}home{% endblock %}">
            <img src="../static/images/{% block content_image %}home.png{% endblock %}" class="responsive-img"/>
          </a>
        </div>
        {% endblock %}
        {% block centeredfield_text %}
        <div class="w3-center">
          <p>{% block content_section_text %}Hi, dear visitor. This is my new ugly page.{% endblock %}</p>
        </div>
        {% endblock %}
      </div>
      {% endblock %}













      {% block footer %}
      <footer class="page-footer teal darken-2">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Adrián Morente Gabaldón</h5>
              <p class="grey-text text-lighten-4">Proyecto realizado para la asignatura de Desarrollo de Aplicaciones para Internet.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Otros enlaces de interés</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">GitHub</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">LinkedIn</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            &copy; Adrián Morente Gabaldón (MIT License) - Universidad de Granada
          </div>
        </div>
      </footer>
      {% endblock %}

      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="../static/js/materialize.min.js"></script>

    </div>

  </body>
</html>
