body, html {
  height: 100%;
  color: white;
  font-weight: bold;
}

.bg {
  background-image: url("images/404.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.bg p {
  font-family: 'Patua One', cursive;
  font-size: 250%;
}
