<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Maybe you broke up something...</title>
    <link rel="stylesheet" href="static/404.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
  </head>
  <body>
    <div class="bg">
      <div class="w3-display-middle">
        <p>IT SEEMS LIKE YOU'RE LOST...</p>
        <p>Maybe you mistyped the URL?!</p>
        <p>
          <a href="home">
            <button class="w3-button w3-blue w3-round-xxlarge">BACK TO HOME</button>
          </a>
        </p>
      </div>
    </div>
  </body>
</html>
