{% extends "index.html" %}
{% block title %}
  My Twitter account
{% endblock %}
{% block header %}
  {% block content-title %}
    Adrian Morente
  {% endblock %}
  {% block content-subtitle %}
    I'm not receptive for DM's, though
  {% endblock %}
{% endblock %}
{% block content %}
  {% block content-section-title %}
    Follow me on Twitter!
  {% endblock %}
  {% block content-image-link %}https://twitter.com/81adrianmorente{% endblock %}
  {% block content-image %}contact.png{% endblock %}
  {% block content-section-text %}
    This is a link to my GitHub site. There you'll find a bunch of repos with open
    source code from me and my mates. You're allowed to watch and open a pull request.
  {% endblock %}
{% endblock %}
