{% extends "index.html" %}
{% block title %}My Twitter account{% endblock %}
{% block content_title %}Adrian Morente{% endblock %}
{% block content_subtitle %}I'm not receptive for DM's, though{% endblock %}
{% block content_section_title %}
  Follow me on Twitter!
{% endblock %}
{% block content_image_link %}https://twitter.com/81adrianmorente{% endblock %}
{% block content_image %}contact.png{% endblock %}
{% block content_section_text %}
  That's my Twitter account. I swear you don't wanna follow me if you don't like
  basketball.
{% endblock %}
