{% extends "index.html" %}
{% block title %}
  My GitHub account
{% endblock %}
{% block header %}
  {% block content-title %}
    Adrian Morente
  {% endblock %}
  {% block content-subtitle %}
    Would you send me a pull request?
  {% endblock %}
{% endblock %}
{% block content %}
  {% block content-section-title %}
    My GitHub page
  {% endblock %}
  {% block content-image-link %}https://github.com/adrianmorente{% endblock %}
  {% block content-image %}github.png{% endblock %}
  {% block content-section-text %}
    This is a link to my GitHub site. There you'll find a bunch of repos with open
    source code from me and my mates. You're allowed to watch and open a pull request.
  {% endblock %}
{% endblock %}
