<!DOCTYPE html>
<html>

  {% block head %}
  <head>
    <meta charset="utf-8"/>
    <title>AMorente - {% block title %}Home{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <link rel="icon" type="image/png" href="static/images/dark-icon.png" />
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet" />
  </head>
  {% endblock %}

  <body>
    {% block header %}
    <header class="w3-container w3-row w3-padding-16">
      <div class="w3-third w3-padding-16 w3-center">
        <img src="../static/images/user-icon.png" alt="Bball logo" style="width=100%"/>
      </div>
      <div id="center-header" class="w3-third w3-padding-16 w3-center">
        <h1>{% block content_title %}Adrian Morente{% endblock %}</h1>
        <h3>{% block content_subtitle %}Welcome to my new page!{% endblock %}</h3>
      </div>
      <div class="w3-third w3-padding-16 w3-center">
        {% if not loggedIn %}
        <form action="/" method="post">
          <p>Username: <input type="text" name="username" /></p>
          <p>Password: <input type="password" name="password" /></p>
          <p><input type="submit" value="Login" />
          <button><a href="/register">Sign up</a></button></p>
        </form>
        {% else %}
          <div class="logged">
            <p>Welcome, dear {{ session['username'] }}</p>
            <p><a href="/logout">Log out</a></p>
          </div>
        {% endif %}
      </div>
    </header>
    {% endblock %}

    {% block content %}
    <div id="centered-content" class="w3-container w3-row w3-padding-16">
      {% block navbar %}
      <div class="navbar w3-col m3 w3-padding-32">
        <ul>
          {% block links %}
            <li><a href="/home">Home</a></li>
            <li><a href="/github">Github account</a></li>
            <li><a href="/contact">Contact (Twitter)</a></li>
            {% if session['username'] %}
              <li><a href="/edit">Edit</a></li>
            {% endif %}
          {% endblock %}
        </ul>
      </div>
      {% endblock %}
      <div id="main-content" class="w3-col m8 w3-right w3-padding-16">
        <div class="w3-container w3-center">
          <h1>{% block content_section_title %}Home page{% endblock %}</h1>
          {% block centeredfield %}
          <div class="w3-center">
            <a href="{% block content_image_link %}home{% endblock %}">
              <img src="../static/images/{% block content_image %}home.png{% endblock %}" />
            </a>
          </div>
          {% endblock %}
          {% block centeredfield_text %}
          <div class="w3-center">
            <p>{% block content_section_text %}Hi, dear visitor. This is my new ugly page.{% endblock %}</p>
          </div>
          {% endblock %}
        </div>
      </div>
    </div>
    {% endblock %}

    {% block footer %}
    <footer class="w3-row w3-padding-16">
      <h4>&copy; Adrián Morente Gabaldón (GPLv3)</h4>
    </footer>
    {% endblock %}

  </body>
</html>
