{% extends "index.html" %}
{% block title %}My GitHub account{% endblock %}
{% block content_title %}Adrian Morente{% endblock %}
{% block content_subtitle %}
  Would you send me a pull request?
{% endblock %}
{% block content_section_title %}
  My GitHub page
{% endblock %}
{% block content_image_link %}https://github.com/adrianmorente{% endblock %}
{% block content_image %}github.png{% endblock %}
{% block content_section_text %}
  This is a link to my GitHub site. There you'll find a bunch of repos with open
  source code from me and my mates. You're allowed to watch and open a pull request.
{% endblock %}
